/*variables*/

/*colors*/
$white: #ffffff;
$white-bg: #f6f6f6;
$accent-color: #e24545;
$black: #222222;
$black-text: #444444;
$grey-text: #888888;
$grey-light: #eeeeee;
$divide-color: #dddddd;
$icon-color: #999999;
$footer-color: #e6e6e6;

// fonts
$font-montserat: Montserrat;
// size morebtn
$width-read-more: 175px;
$height-read-more: 54px;